.preloader-wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}
.preloader-wrapper img {
  animation: pop 2s infinite;
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .preloader-wrapper img {
    animation: pop 2s infinite;
    width: 80%;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
