/* slick carousel styling */
.slick-next,
.slick-prev {
  font-size: 40px !important;
  width: 40px !important;
  height: 40px !important;
}
.slick-next {
  right: 2% !important;
  z-index: 3;
}
.slick-prev {
  left: 2% !important;
  z-index: 3;
}
.slick-prev::before,
.slick-next::before {
  font-size: 40px !important;
}
.slick-dots {
  bottom: 25% !important;
}
.slick-dots li button:before {
  color: white !important;
}
